@media screen and (max-width: 740px) {
    /* common */
    .open {
        display: flex !important;
    }
    /* end common */

    #top-navbar {
        justify-content: space-between;
    }

    #top-navbar .top-navbar__mobile{
        display: block; 
    }

    #top-navbar .top-navbar__mobile i{
        color: #fff;
        padding: 0 10px;
        font-size: 25px;
    }

    .top-navbar__list .top-navbar__item:first-child {
        display: none;
    }

    .search-action,
    .navbar-list {
        display: none !important;
    }
    /* left navbar */
    .mobile-navbar-modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        z-index: 3;
    }

    @keyframes mobile-navbar-fade {
        from {
            width: 0%;
        }

        to {
            width: calc(100%/1.5);
        }
    }

    .mobile-navbar-modal-container {
        position: relative;
        width: calc(100%/1.5);
        height: 100%;
        background-color: #fff;
        animation: mobile-navbar-fade ease-in-out 0.5s;
    }
    
    .mobile-navbar-modal-container .mobile-modal-header {
        border-bottom: 1px solid #ddd;
    }
    
    .mobile-navbar-modal-container .mobile-modal-header .close-btn {
        padding: 12px;
        float: right;
    }
    
    .mobile-navbar-modal-container .mobile-modal-body .mobile-navbar-list {
        list-style-type: none;
        padding: 0;
        margin-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;
    }
    
    .mobile-navbar-user-list .navbar-user-item > a,
    .mobile-navbar-modal-container .mobile-modal-body .navbar-item > a{
        display: block;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        padding: 8px 16px;
    }
    
    .mobile-navbar-modal-container .mobile-modal-body .navbar-item i {
        float: right;
    }
    
    .mobile-navbar-user-list {
        margin-top: 16px;
        padding: 0;
        list-style-type: none;
    }
    /* end left navbar */

    /* footer */
    footer #content {
        flex-direction: column;
        align-content: space-around;
        padding-bottom: 24px;
    }

    .receive-message {
        display: none;
    }

    .necessary-information {
        margin-top: 24px;
    }

    footer #content .box {
        margin-bottom: 21px;
    }

    footer #content .box::after {
        margin-left: 25%;
    }

    .necessary-information .box h6 {
        font-size: 26px;
    }

    .mobile-col {
        max-width: 100%;
        text-align: center;
    }
    /* end footer */
}